*{
    margin: 0;
    padding: 0%;
}
body{
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: ceter;
}
.image{
    height: 400px;
    width: 300px;
}
#shape{
    height: 200px;
    width: 200px;
    background-color: red;

}